# Reusable lint workflow
name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4

      - name: Lint
        run: |
          uv pip install ruff --system
          ruff check packages/
          ruff format --check packages/
