name: Ecosystem Connector

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]
  pull_request_review:
    types: [submitted]
  issue_comment:
    types: [created]
  check_suite:
    types: [completed]

permissions:
  contents: write
  pull-requests: write
  issues: write
  checks: read

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Print hello world
        run: echo "hello world"