name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@0a04c0b3f8b1416f4f92c2bb33f55e76136b5e64 # v4.1.0
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.CI_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}
