name: Test Working

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
    secrets:
      CI_GITHUB_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "${{ inputs.message }}"
