name: Test With Action

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
    secrets:
      CI_GITHUB_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "${{ inputs.action }}"
