name: Test No Perms

on:
  workflow_call:
    inputs:
      action:
        required: true
        type: string
      repository:
        required: true
        type: string
    secrets:
      CI_GITHUB_TOKEN:
        required: true

jobs:
  review:
    name: Review
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "Review in ${{ inputs.repository }}"
